.footer-panel {
    min-height: 50px;
    height: 50px;
    background-color: #e91e63;
    position: sticky;
    bottom: 0px;
}
.footer-panel .footer-item {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.footer-panel .footer-item .footer-item-text {
    font-size: smaller;
}

.footer-panel .icon.icon-home {
    background: url(home.svg) no-repeat;
    background-size: auto 60%;
    background-position: center center;
}

.footer-panel .icon.icon-like {
    background: url(like.svg) no-repeat;
    background-size: auto 60%;
    background-position: center center;
}

.footer-panel .icon.icon-download {
    background: url(download.svg) no-repeat;
    background-size: auto 60%;
    background-position: center center;
}

.footer-panel .icon.icon-history {
    background: url(history.svg) no-repeat;
    background-size: auto 60%;
    background-position: center center;
}
