.w100 { width: 100%; }
.w80 { width: 80%; }
.w60 { width: 60%; }
.w50 { width: 50%; }

.h100 { height: 100%; }
.h80 { height: 80%; }
.h60 { height: 60%; }
.h50 { height: 50%;}

.h-10 { height: 20px; }
.h-20 { height: 24px; }
.h-30 { height: 28px; }
.h-40 { height: 32px; }
.h-50 { height: 36px; }
.h-60 { height: 40px; }

.maxw-10 { max-width: 200px; }
.maxw-20 { max-width: 400px; }
.maxw-30 { max-width: 600px; }
.maxw-40 { max-width: 800px; }
.maxw-50 { max-width: 1000px; }
