.sidebar-panel {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.sidebar-panel .sidebar-content {
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0px 3px #aaa;
    z-index: 500;
}

.sidebar-panel .sidebar-content a {
    color: #0077cc;;
    text-decoration: none;
}
/* .sidebar-panel .sidebar-content a:visited {
    color: #e91e63;
}
.sidebar-panel .sidebar-content a:hover {
    color: #e91e63;
} */

.sidebar-panel .sidebar-background {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
}

.sidebar-panel .sidebar-top {
    height: 50px;
    cursor: pointer;
}

.sidebar-panel .icon.icon-previus {
    width: 50px;
    background: url(previus.svg) no-repeat;
    background-size: auto 40%;
    background-position: center center;
}

.sidebar-panel .sidebar-item {
    height: 50px;
    cursor: pointer;
    background-color: rgba(15,29,50,0.07);
}

.sidebar-panel .sidebar-item:hover {
    box-shadow: 0px 0px 3px #28a745;
}
