.card-panel {
    width: 300px;
    box-shadow: 0px 0px 5px #aaa;
    border-radius: 2px;
    overflow: hidden;
}
.card-panel:hover {
    box-shadow: 0px 0px 5px #28a745;
}

.card-panel .card-preview {
    height: 160px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.card-panel .card-preview img {
    width: 100%;
    object-fit: cover;
}

.card-panel .card-description .card-actions input[type="button"]:hover {
    background-color: #f0f0f0;
}

.card-panel .icon.icon-star {
    background: url(star.svg) no-repeat;
    background-size: auto 70%;
    background-position: center center;
}

.card-panel .icon.icon-music {
    background: url(play.svg) no-repeat;
    background-size: auto 80%;
    background-position: center center;
}

.card-panel .icon.icon-download {
    background: url(download.svg) no-repeat;
    background-size: auto 70%;
    background-position: center center;
}
